:root {
    --Dark: black;
    --Light: white;
    --HF: xx-large;
    --LB: rgb(141, 192, 243);
    --FS: medium;
}
*{
    box-sizing: border-box;

}
body{
    margin: 0

}
header{
    width: ;
    background-color: var(--Dark);





}
h1{
    padding: 10px;
    color: var(--Light);
  
}
header ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;


}
header ul li {
    padding: 10px;
    list-style: none;
    color: var(--Light);
}
h2{
    text-align: center;
    font-size: var(--HF);

}
h3{
    font-size: var(--HF);
}
h4{
    font-size: var(--HF);

}
main section{

margin-left: 10%;

}
.card-1{
    margin:2%;
position: relative;
width: 90%;
height: 250px;
border: 2px solid var(--Dark);

   
}
h5{
    position: absolute;
    top: 56%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;
}
div{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    position: relative;
    border: 2px solid var(--Dark);
    width: 40%;
    height: 150px;
    margin: 2%;

}
h6{
    position: absolute;
    top: 20%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-weight: 100;

}
h7{
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;


}
h8{
    
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;



}
h9{
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;


}
h10{
    font-size: var(--HF);
}
footer{
    margin-top: 80px;
}
footer ul{
    display: flex;
flex-wrap: wrap;
justify-content: center;
}
footer ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 5%;
    list-style: none;
    font-size: large;

}
