:root {
    --Dark: black;
    --Light: white;
    --HF: xx-large;
    --LB: rgb(141, 192, 243);
    --FS: medium;
}
*{
    box-sizing: border-box;

}
body{
    margin: 0;

    background-image: url("../css/images/Back.jpg");

  
}
.background{
 size:100%;
 position: center;
}
header{
    width: ;
  





}
h1{
    padding: 10px;
    color: var(--Light);
  
}
header ul {
    margin: 2%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;


}
header ul li {
    padding: 10px;
    list-style: none;
    color: var(--Light);
}
header ul li:hover{
    color: blue;
}
header ul li:active{
    font-size: 120%;
}

h2{
    top: 10%;
    text-align: center;
    font-size: var(--HF);
    color:var(--Light)

}
nav{
    background-image: url(./images/BGI.jpg);
    height: 100px;
}
h3{
    margin: 2%;
    font-size: var(--HF);
    color: var(--Light);
}
p{
    margin: 2%;
    color: var(--Light);
}
h4{
    margin: 2%;
    font-size: var(--HF);
    color:var(--Light)

}
main section{

margin-left: 10%;

}
.card-1{
    background-color: var(--Light);
    margin:2%;
position: relative;
width: 90%;
height: 250px;
border: 2px solid var(--Dark);

   
}
a{
    position: absolute;
    top: 56%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;
}
a:hover{
    color:blue;
}
a:active{
    font-size: 110%;
}
div{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    position: relative;
    border: 2px solid var(--Dark);
    width: 40%;
    height: 150px;
    margin: 2%;
    background-color: var(--Light);

}
h6{
    position: absolute;
    top: 20%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-weight: 100;

}
h7{
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;


}
h8{
    
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;



}
h9{
    position: absolute;
    top: 45%;
    padding: 30px;
    border: 2px solid var(--Dark);
    background-color: var(--LB);
    font-size: var(--FS);
    font-size: var(--FS);
    font-weight: 100;


}
h10{
    font-size: var(--HF);
}
footer{
    margin: 2%;
    margin-top: 80px;
    color: var(--Light);
    
}
footer ul{
    display: flex;
flex-wrap: wrap;
justify-content: center;
}
footer ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 5%;
    list-style: none;
    font-size: large;
    color: var(--Light)

}
@media screen and (max-width: 768px) {
    div{
        flex-direction: column;
        justify-content: center;

    }
    
}
